body {
    margin: 0;
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
}

.content {
    padding-left: 8px;
    padding-right: 8px;
    max-width: 800px;
    margin: auto;
    font-size: 12pt;
}

.schedules {
    margin-bottom: 2em;
}

.screen {
    display: inline-block;

    background-color: #272727;
    border-radius: 5px;
    color: #FFE273;
    padding: .4em;
}

.schedules .loading {
    display: block;
    margin: auto;
}

.schedules .line {
    margin-top: 1em;
}

.schedules .line > img {
    height: 1.5em;
}

.schedules .stop {
    margin-bottom: .5em;
}

.stop .title {
    display: flex;
    align-items: center;

    padding: .1em;
    padding-left: 0;
    border-bottom: 1px solid black;
}

.stop .space {
    flex-grow: 1;
}

.stop .subtitle {
    display: flex;
    align-items: center;
}

.stop .subtitle .time {
    font-size: 10pt;
}

.stop .refresh {
    height: 1.5em;
}

.stop .delete {
    height: 1.5em;
    margin-right: .15em;
}

.refreshing {
    animation: spin .7s ease infinite;
}

.auto-refresh {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.refresh-error {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}

.schedule {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #eee;
    height: auto;
    padding: .3em;

    font-weight: bold;
}

.schedule:not(:last-child) {
    border-bottom: 1px solid #eeedd;
}

.schedule .destination {
    display: inline-block;
}

.adder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.adder input[type="text"] {
    height: 2.3em;
    width: auto;
    border-radius: 5px;
    border: 1px solid #cccccc;
    padding-left: .5em;
    padding-right: .5em;
}

.adder input[type="checkbox"] {
    height: 2.3em;
    width: 2.3em;
    background-color: white;
}

.adder .direction {
    display: flex;
    align-items: center;
    font-size: .9em;
}

.adder .direction span {
    display: flex;
    align-items: center;
    margin-left: 1em;
    margin-right: 1em;
}

.adder .message {
    font-size: .8em;
}

button {
    height: 2.3em;
    background-color: white;
    border: 1px solid #cccccc;
}

.refreshing.refresh-leave-active {
    animation: spin .7s ease 1;
}

.auto-refresh.refresh-leave-active {
    animation: spin 1s linear 1;
}

.refresh-error.refresh-leave-active {
    animation: none;
}

.header {
    display: flex;
    align-items: center;
    height: 2.5em;
    width: 100%;
    background: #eee;
}

.header .title {
    margin: 1em;
}

.header .preset-select {
    height: 2.5em;
}

#burger {
    position: fixed;
    top: 2.5em;
    left: -16em;
    overflow: auto;
    background: #eee;
    height: 100%;
    transition: left .3s;
    width: 15em;
    padding-left: .5em;
    padding-right: .5em;
}

#burger.opened {
    left: 0;
}

#burger .preset-select,.preset-name {
    width: 11em;
}

.up-conf {
    width: 13em;
}
